{% extends 'layouts/app.twig' %}

{% block content %}
<div class='py-5'>
    <div class='container mb-5'>
        <h3>Filtrar por período letivo:</h3>
        <form class='d-flex gap-3'>
            <select name="periodoLetivo" class='form-select w-25'>
                <option value="" {{ _GET['periodoLetivo'] is defined ? '' : 'selected' }}>Selecione um período</option>
                {% for periodo in periodosLetivos %}
                    <option value="{{ periodo['id'] }}" {{ periodoLetivo == periodo['id'] ? 'selected' : '' }}>{{ periodo['especificacao'] }}</option>
                {% endfor %}
            </select>
            <button type="submit" class="btn btn-primary">Filtrar</button>
        </form>
    </div>

    <div class='container accordion mb-5'>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Ver Tempos das Turmas
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <ul class='list-group' id='temposProfessores'>
                        {% for turma in turmas %}
                            <li class='list-group-item'>
                                {{ turma.nomeCurso }} - {{ turma['nomeDisciplina'] }}
                                <div class="progress" role="progressbar">
                                    <div turma_id='{{ turma.id }}' max_tempos='{{ turma.cargaHorariaMaxDisc }}' class="progress-bar" style="width: 0%"></div>
                                </div>
                                <p id='{{ turma.id }}_progress_texto'></p>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <div class='container'>
        <h3 class='mb-5'>
            Turno: 
            <select name="turno" id="turnoSelect">
                <option value="" {{ turno is defined ? '' : 'selected' }}>Selecione um turno</option>
                <option value="MANHA" {{ turno == 'MANHA' ? 'selected' : '' }}>Manhã</option>
                <option value="TARDE" {{ turno == 'TARDE' ? 'selected' : '' }}>Tarde</option>
                <option value="NOITE" {{ turno == 'NOITE' ? 'selected' : '' }}>Noite</option>
            </select>
            <button onclick='selectTurno(document.querySelector("#turnoSelect"))' class="btn btn-primary">Filtrar</button>
        </h3>

        {% for sala in salas %}
            <div>
                <h3>{{ sala['nome'] }}</h3>
    
                <table class='table table-hover mb-5' id='sala_{{ sala['id'] }}' data-sala-id='{{ sala['id'] }}'>
                    <thead>
                        <tr>
                            <th>Horários</th>
                            <th>Segunda</th>
                            <th>Terça</th>
                            <th>Quarta</th>
                            <th>Quinta</th>
                            <th>Sexta</th>
                        </tr>
                    </thead>
                    <tbody>
                        {# Itera entre os 6 tempos do turno #}
                        {% for i in range(1, 6) %}
                            <tr>
                                <td>{{ i }}º tempo</td>
                                
                                {# Um for para iterar as colunas nos dias da semana #}
                                {% for dia in ['Segunda', 'Terca', 'Quarta', 'Quinta', 'Sexta'] %}
                                    {% 
                                        set horario = horariosIndisponiveis|filter(
                                                h => h['sala_id'] == sala['id'] and 
                                                h['tempo'] == i and h['dia'] == dia)|first 
                                    %}
        
                                    <td>
                                        <select name='{{ dia }}_{{ i }}_{{ sala['id'] }}' 
                                                sala_id="{{ sala['id'] }}"
                                                dia="{{ dia }}"
                                                tempo="{{ i }}"
                                                periodo_letivo_id="{{ periodoLetivo }}"        
                                                class='form-select turma-select'
                                            >
                                            <option value="-">-</option>
                                            {% for turma in turmas %}
                                                <option value="{{ turma.id }}" 
                                                        {{ horario.turma_id == turma['id'] ? 'selected' : '' }}
                                                    >
                                                    {{ turma.nomeCurso }} - {{ turma['nomeDisciplina'] }}
                                                </option>
                                            {% endfor %}
                                        </select>
                                    </td>
                                {% endfor %}
        
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <div class='pt-3 text-end'>
                    <button onclick="salvarTabela(document.querySelector('#sala_{{ sala['id'] }}'), '{{ turno }}')" class="btn btn-primary">Salvar Horário</button>
                    <button onclick="exportarTabela('sala_{{ sala['id'] }}', 'pdf')" class="btn btn-secondary">Exportar PDF</button>
                    <button onclick="exportarTabela('sala_{{ sala['id'] }}', 'excel')" class="btn btn-secondary">Exportar Excel</button>
                </div>
            </div>
            {% endfor %}

        <button onclick="window.location.href='/view-sala'" class="btn btn-primary mt-5">Visualização por Laboratório</button>
    </div>
</div>
{% endblock %} 