{% extends 'layouts/app.twig' %}

{% block content %}
<div class='container'>
    <form method='POST' class='p-5'>
        {% if _GET['id'] is defined %}
            <h2 class="mb-4">Editar Professor</h2>
            <div class='input-group mb-2'>
                <span class="input-group-text" id="basic-addon1">Código</span>
                <input class="form-control" type="text" name="id" placeholder="ID do professor" value="{{ _GET['id'] }}" readonly>
            </div>
            <input class="form-control mb-2" type="text" name="nome" placeholder="Nome do professor" value="{{ professorSelecionado['nome'] }}" autofocus>
            <input class="form-control mb-2" type="text" name="tempos_semanais" placeholder="Tempos Semanais" value="{{ professorSelecionado['tempos_semanais'] }}">
        {% else %}
            <h2 class="mb-4">Adicionar Professor</h2>
            <input class="form-control mb-2" type="text" name="nome" placeholder="Nome do professor" autofocus>
            <input class="form-control mb-2" type="text" name="tempos_semanais" placeholder="Tempos Semanais">
        {% endif %}
        
        <button type="submit" class="btn btn-primary">Salvar</button>
        {{ _GET['id'] ? "Ou <a href='/professores'>adicionar professor</a>" }}
    </form>

    <table class='table table-hover'>
        <thead>
            <tr>
                <th scope='col'>Código</th>
                <th scope='col'>Nome</th>
                <th scope='col'>Tempos Semanais</th>
                <th scope='col'>Editar</th>
                <th scope='col'>Excluir</th>
            </tr>
        </thead>
        <tbody>
            {% for professor in professores %}
                <tr>
                    <th scope="col">{{ professor.id }}</th>
                    <td>{{ professor.nome }}</td>
                    <td>{{ professor.tempos_semanais }}</td>
                    <td>
                        <a class="link-underline link-underline-opacity-0" href="/professores?id={{ professor.id }}">
                        📝
                        </a>
                    </td>
                    <td>
                        <form action="/professores/delete" method="post">
                            <input type="hidden" name="id" value="{{ professor.id }}">
                            <input class="bg-transparent border-0" type="submit" value="🗑️">
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}